.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/dist/index.js

# System Files
.DS_Store
Thumbs.db

# Env files
src/environments/environment.ts
src/environments/environment.prod.ts
